battle=resources/spriteSheets/fireRedBattleSpritesGen1.png
battlebackground=resources/spriteSheets/fireRedBattleBackgrounds.png
player=resources/spriteSheets/fireRedPlayer.png  
tileset1=resources/spriteSheets/fireRedTileset1.png
tileset2=resources/spriteSheets/fireRedTileset2.png
tileset3=resources/spriteSheets/fireRedTileset3.png